apiVersion: apps/v1
kind: Deployment
metadata:
  name: edd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: edd
  template:
    metadata:
      labels:
        app: edd
    spec:
      containers:
      - image: okteto.dev/ray:latest
        name: edd
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: ProxySite
          value: ""
        - name: Vless_UUID
          value: "30080336-2156-4cc4-ba4a-a44f0fc94f2e"
        - name: Vless_Path
          value: "/qa"
        - name: Vmess_UUID
          value: "30080336-2156-4cc4-ba4a-a44f0fc94f2e"
        - name: Vmess_Path
          value: "/ws"
        - name: Share_Path
          value: "/share233"
